<div class="d-flex justify-content-center">
  <button type="submit" (click)="previousState()" class="btn btnBack" data-cy="entityDetailsBackButton">
    <fa-icon icon="arrow-left"></fa-icon><span></span>
  </button>
  <div class="d-flex containerAll">
    <img src="../../../../content/images/products/mcr-hcrx-bl011.jpg" class="productImg" alt="" />
    <div class="productDetails" *ngIf="product">
      <h2 data-cy="productDetailsHeading">
        <span>{{ product.name }}</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <div class="d-flex flex-column containerDetails">
        <span class="price">R${{ product.price }}</span>

        <!-- <span>{{ product.id }}</span> -->

        <span class="details">{{ product.description }}</span>

        <span class="category" *ngFor="let categories of product.categories; let last = last">
          <a [routerLink]="['/category', categories.id, 'view']">{{ categories.name }}</a
          >{{ last ? '' : ', ' }}
        </span>
      </div>

      <button type="button" [routerLink]="['/product', product.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
