<div>
  <h2 class="title" jhiTranslate="fakeStoreApp.category.home.title">Categories</h2>

  <div *jhiHasAnyAuthority="'ROLE_ADMIN'" class="d-flex justify-content-end m-4">
    <button
      id="jh-create-entity"
      data-cy="entityCreateButton"
      class="btn btn-primary jh-create-entity create-category"
      [routerLink]="['/category/new']"
    >
      <fa-icon icon="plus"></fa-icon>
      <span>Add Category</span>
    </button>
  </div>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="categories?.length === 0">
    <span jhiTranslate="fakeStoreApp.category.home.notFound">Nenhum Category encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="categories && categories.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">Código</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="fakeStoreApp.category.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span jhiTranslate="fakeStoreApp.category.description">Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="tableLine"
          [routerLink]="['/category', category.id, 'view']"
          *ngFor="let category of categories; trackBy: trackId"
          data-cy="entityTable"
        >
          <td>
            <a [routerLink]="['/category', category.id, 'view']">{{ category.id }}</a>
          </td>
          <td>{{ category.name }}</td>
          <td>{{ category.description }}</td>
          <td class="text-end">
            <a
              *jhiHasAnyAuthority="'ROLE_ADMIN'"
              [routerLink]="['/category', category.id, 'edit']"
              class="btn btn-primary btn-sm"
              data-cy="entityEditButton"
            >
              <fa-icon icon="pencil-alt"></fa-icon>
              <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
            </a>

            <button
              *jhiHasAnyAuthority="'ROLE_ADMIN'"
              type="submit"
              (click)="delete(category)"
              class="btn btn-danger btn-sm"
              data-cy="entityDeleteButton"
            >
              <fa-icon icon="times"></fa-icon>
              <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
