<div>
  <span class="produtosText"></span>

  <div class="search">
    <input placeholder="Search" class="searchInput" type="text" (input)="search()" [(ngModel)]="searchTerm" />
  </div>
  <div class="buttons" *jhiHasAnyAuthority="'ROLE_ADMIN'">
    <button class="btn me-2 btn-primary" (click)="load()" [disabled]="isLoading">
      <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
      <span jhiTranslate="fakeStoreApp.product.home.refreshListLabel">Atualizar lista</span>
    </button>

    <button
      id="jh-create-entity"
      data-cy="entityCreateButton"
      class="jh-create-entity create-product btn btn-primary"
      [routerLink]="['/product/new']"
    >
      <fa-icon icon="plus"></fa-icon>
      <span>Add Product</span>
    </button>
  </div>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="products?.length === 0">
    <span>Nenhum produto encontrado</span>
  </div>
  <div class="produtos" *ngIf="products?.length != 0">
    <div class="cardProdutos" *ngFor="let product of getDisplayedProducts()">
      <img class="productImage" src="../../../../content/images/products/mcr-hcrx-bl011.jpg" alt="" />
      <h3 class="productTitle">{{ product.name }}</h3>
      <p class="productDescription">{{ product.description }}</p>
      <p class="productPrice">R${{ product.price }}</p>
      <div class="d-flex gap-3">
        <button [routerLink]="['/product', product.id, 'view']" class="btn btn-primary" data-cy="entityDetailsButton">
          <!-- <fa-icon icon="eye"></fa-icon> -->
          <span class="d-none d-md-inline">Detalhes</span>
        </button>
        <button
          *jhiHasAnyAuthority="'ROLE_ADMIN'"
          type="submit"
          (click)="delete(product)"
          class="btn btn-danger btn-sm"
          data-cy="entityDeleteButton"
        >
          <fa-icon icon="times"></fa-icon>
          <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
        </button>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-5" *ngIf="products.length > itemsPerPage">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" (click)="onPrevPage()"><-</a>
      </li>
      <li class="page-item" *ngFor="let page of getPages()" [class.active]="page === currentPage">
        <a class="page-link" (click)="onPageChange(page)">{{ page }}</a>
      </li>
      <li class="page-item">
        <a class="page-link" (click)="onNextPage()">-></a>
      </li>
    </ul>
  </div>
  <!-- <div class="table-responsive table-entities" id="entities" *ngIf="products && products.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">Código</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="fakeStoreApp.product.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span jhiTranslate="fakeStoreApp.product.description">Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="price">
            <div class="d-flex">
              <span jhiTranslate="fakeStoreApp.product.price">Price</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="categories.name">
            <div class="d-flex">
              <span jhiTranslate="fakeStoreApp.product.categories">Categories</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/product', product.id, 'view']">{{ product.id }}</a>
          </td>
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.price }}</td>
          <td>
            <span *ngFor="let categories of product.categories; let last = last">
              <a class="form-control-static" [routerLink]="['/category', categories.id, 'view']">{{ categories.name }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/product', product.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
              </a>

              <a [routerLink]="['/product', product.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </a>

              <button type="submit" (click)="delete(product)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div> -->
</div>
