.produtosText {
  margin: auto;
  display: flex;
  width: 15rem;
  height: 4rem;
  background: url('../../../../content/images/productsText.png') no-repeat center;
}
.search {
  margin: auto;
  width: 30rem;
  height: 3rem;
  border-radius: 1rem;
  color: rgb(0, 0, 0);
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.searchInput {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}
.buttons {
  display: inline-flex;
  margin: 2rem;
  float: right;
}
.produtos {
  border: 1px solid #ccc;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  padding: 5rem;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  place-items: center;
  gap: 5rem;
}
.cardProdutos {
  border: 1px solid #ccc;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  width: 20rem;
  height: 26rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
  border-radius: 1rem;
}
.productImage {
  margin: auto;
  width: 10rem;
}
.productTitle {
  font-weight: 500;
}
.productDescription {
  font-weight: 400;
}
.productPrice {
  font-size: x-large;
  font-weight: 500;
}
.btn-primary {
  margin: auto;
  width: 10rem;
  height: 3rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #7749f8;
  color: white;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.btn-danger {
  margin: auto;
  width: 10rem;
  height: 3rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #f84949;
  color: white;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.pagination .page-item.active .page-link {
  background-color: #7749f8;
  border-color: #7749f8;
  color: #fff;
}
