<div class="row">
  <div class="col-md-9 main">
    <span class="logo img-fluid rounded"></span>
    <h4 class="subtext">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet magna vel leo euismod mattis. Nulla at nisl in risus semper
      sagittis sit amet quis dui.
    </h4>

    <div [ngSwitch]="account !== null">
      <!-- <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message" [translateValues]="{ username: account.login }"
          >Você está logado como "{{ account.login }}".</span
        >
      </div> -->

      <div class="alert alert-warning" *ngSwitchCase="false">deslogado</div>

      <div class="alert alert-warning" *ngSwitchCase="false">deslogado</div>
    </div>
    <div>
      <span class="produtosText"></span>
      <!-- <div class="cardProdutos">
          <img class="productImage" src="../../content/images/products/m171-mouse-top-view-grey.png" alt="" />
          <h3>{{products[0].name}}</h3>
          <p>{{products[0].description}}</p>
        </div>
        <div class="cardProdutos">
          <img class="productImage" src="../../content/images/products/mcr-hcrx-bl011.jpg" alt="" />
          <h3>{{products[1].name}}</h3>
          <p>{{products[1].description}}</p>
        </div>
        <div class="cardProdutos">
          <img class="productImage" src="../../content/images/products/Untitled.jpeg" alt="" />
          <h3>{{products[2].name}}</h3>
          <p>{{products[2].description}}</p>
        </div> -->
      <div class="produtos">
        <div class="cardProdutos" *ngFor="let product of products.slice(0, 3)">
          <img class="productImage" alt="" />
          <h3 class="productTitle">{{ product.name }}</h3>
          <p class="productDescription">{{ product.description }}</p>
          <p class="productPrice">R${{ product.price }}</p>
          <button [routerLink]="['/product', product.id, 'view']" class="btn" data-cy="entityDetailsButton">
            <!-- <fa-icon icon="eye"></fa-icon> -->
            <span class="d-none d-md-inline">Detalhes</span>
          </button>
        </div>
      </div>
    </div>
    <!-- <div *ngFor="let product of products">
      {{ product.name }} - {{ product.price }}
    </div> -->
  </div>
</div>
