.main {
  margin: auto;
  text-align: center;
}
.logo {
  display: inline-block;
  width: 20rem;
  height: 5rem;
  background: url('../../content/images/logoFakeStoreCenter.png') no-repeat center top;
  background-size: auto;
}
.subtext {
  font-weight: 600;
  margin: auto;
  width: 40rem;
}
.produtosText {
  margin: 6rem 0 2rem 0;
  display: inline-block;
  width: 15rem;
  height: 4rem;
  background: url('../../content/images/productsText.png') no-repeat center;
}
.produtos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  place-items: center;
  gap: 3rem;
}
.cardProdutos {
  border: 1px solid #ccc;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  width: 20rem;
  height: 26rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
  border-radius: 1rem;
}
.productImage {
  margin: auto;
  width: 10rem;
}
.productTitle {
  font-weight: 500;
}
.productDescription {
  font-weight: 400;
}
.productPrice {
  font-size: x-large;
  font-weight: 500;
}
.btn {
  margin: auto;
  width: 10rem;
  height: 3rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #7749f8;
  color: white;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
